Repository rokucommunity/rooibos, pull requests merged in 2025-01, with the labels that each got.

#306 Task/update framework folder to match structure on device
  bsc-plugin/package-lock.json
  bsc-plugin/package.json
  bsc-plugin/src/lib/rooibos/FileFactory.ts
  bsc-plugin/src/lib/rooibos/RooibosConfig.ts
  bsc-plugin/src/plugin.spec.ts
  bsc-plugin/src/plugin.ts
  framework/src/components/rooibos/CodeCoverage.xml
  framework/src/components/rooibos/RooibosScene.xml
  framework/src/source/rooibos/BaseTestReporter.bs
  framework/src/source/rooibos/BaseTestSuite.bs
  framework/src/source/rooibos/CodeCoverage.brs
  framework/src/source/rooibos/CodeCoverageSupport.brs
  framework/src/source/rooibos/CommonUtils.bs
  framework/src/source/rooibos/ConsoleTestReporter.bs
  framework/src/source/rooibos/Coverage.bs
  framework/src/source/rooibos/JUnitTestReporter.bs
  framework/src/source/rooibos/Matchers.bs
  framework/src/source/rooibos/Rooibos.bs
  framework/src/source/rooibos/RuntimeConfig.bs
  framework/src/source/rooibos/Stats.bs
  framework/src/source/rooibos/Test.bs
  framework/src/source/rooibos/TestGroup.bs
  framework/src/source/rooibos/TestResult.bs
  framework/src/source/rooibos/TestRunner.bs
  framework/src/source/rooibos/Utils.bs
Labels: enhancement

#305 Feature/mocha test reporter
  bsc-plugin/package-lock.json
  bsc-plugin/src/cli.ts
  bsc-plugin/src/lib/rooibos/Annotation.ts
  bsc-plugin/src/lib/rooibos/CodeCoverageProcessor.spec.ts
  bsc-plugin/src/lib/rooibos/CodeCoverageProcessor.ts
  bsc-plugin/src/lib/rooibos/RawCodeExpression.ts
  bsc-plugin/src/lib/rooibos/RawCodeStatement.ts
  bsc-plugin/src/lib/rooibos/RooibosConfig.ts
  bsc-plugin/src/lib/rooibos/RooibosSession.ts
  bsc-plugin/src/lib/rooibos/RooibosSessionInfo.ts
  bsc-plugin/src/lib/rooibos/TestCase.ts
  bsc-plugin/src/lib/rooibos/TestGroup.ts
  bsc-plugin/src/lib/rooibos/TestSuite.ts
  bsc-plugin/src/lib/utils/Diagnostics.ts
  bsc-plugin/src/plugin.spec.ts
  bsc-plugin/src/plugin.ts
  docs/index.md
  framework/src/source/rooibos/BaseTestReporter.bs
  framework/src/source/rooibos/BaseTestSuite.bs
  framework/src/source/rooibos/CommonUtils.bs
  framework/src/source/rooibos/ConsoleTestReporter.bs
  framework/src/source/rooibos/JUnitTestReporter.bs
  framework/src/source/rooibos/MochaTestReporter.bs
  framework/src/source/rooibos/Rooibos.bs
  framework/src/source/rooibos/Stats.bs
  framework/src/source/rooibos/Test.bs
  framework/src/source/rooibos/TestGroup.bs
  framework/src/source/rooibos/TestResult.bs
  framework/src/source/rooibos/TestRunner.bs
  package-lock.json
  package.json
  tests/bsconfig.json
  tests/package-lock.json
  tests/package.json
  tests/src/source/Assertion.spec.bs
  tests/src/source/Async.spec.bs
  tests/src/source/Basic.spec.bs
  tests/src/source/FailedAssertion.spec.bs
  tests/src/source/NodeExample.spec.bs
Labels: enhancement, create-package

#307 promises support in tests
  bsc-plugin/package-lock.json
  bsc-plugin/package.json
  bsc-plugin/scripts/pack.js
  bsc-plugin/src/lib/rooibos/Annotation.ts
  bsc-plugin/src/lib/rooibos/FileFactory.ts
  bsc-plugin/src/lib/rooibos/RooibosSession.ts
  bsc-plugin/src/lib/rooibos/TestGroup.ts
  bsc-plugin/src/lib/rooibos/TestSuite.ts
  bsc-plugin/src/lib/rooibos/TestSuiteBuilder.ts
  bsc-plugin/src/plugin.spec.ts
  docs/index.md
  framework/src/source/rooibos/BaseTestSuite.bs
  framework/src/source/rooibos/Test.bs
  framework/src/source/rooibos/TestGroup.bs
  framework/src/source/rooibos/TestResult.bs
  framework/src/source/rooibos/TestRunner.bs
  tests/src/components/TaskExample.bs
  tests/src/components/TaskExample.xml
  tests/src/source/Basic.spec.bs
  tests/src/source/FailedAssertion.spec.bs
  tests/src/source/NodeExample.spec.bs
  tests/src/source/Promises.spec.bs
  tests/src/source/SuiteTimeouts.spec.bs
Labels: enhancement, create-package

#308 Bugfix/only annotation not always applied correctly
  bsc-plugin/src/lib/rooibos/RooibosSessionInfo.ts
  bsc-plugin/src/lib/rooibos/TestGroup.ts
  bsc-plugin/src/lib/rooibos/TestSuite.ts
  bsc-plugin/src/plugin.spec.ts
Labels: bug

#310 Remove the ropm step, devs just need to do this manually
  .github/workflows/build.yml
  .github/workflows/create-package.yml
  bsc-plugin/package-lock.json
  bsc-plugin/package.json
  bsc-plugin/scripts/pack.js
  framework/src/source/rooibos/Test.bs
  tests/src/source/Promises.spec.bs
Labels: create-package
